<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required Meta Tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Page Title -->
	<title>FoodCorner</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="~/assets/images/logo/logo.png" type="image/x-icon">

	<!-- CSS Files -->
	<link rel="stylesheet" href="~/assets/css/animate-3.7.0.css">
	<link rel="stylesheet" href="~/assets/css/font-awesome-4.7.0.min.css">
	<link rel="stylesheet" href="~/assets/css/bootstrap-4.1.3.min.css">
	<link rel="stylesheet" href="~/assets/css/owl-carousel.min.css">
	<link rel="stylesheet" href="~/assets/css/jquery.datetimepicker.min.css">
	<link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>
	<!-- Preloader Starts -->
	<div class="preloader">
		<div class="spinner"></div>
	</div>
	<!-- Preloader End -->
	<!-- Header Area Starts -->
	<header class="header-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					<div class="logo-area">
						<a href="index.html"><img src="~/assets/images/logo/l.png" alt="logo"></a>
					</div>
				</div>
				<div class="col-lg-10">
					<div class="custom-navbar">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="main-menu">
						<ul>
							<li class="active"><a href="@Url.Action("DelIndex","Home")">Home</a></li>




							<li><a href="@Url.Action("ordertodeliver","Orders_DeliveryTeam1")">Order Details</a></li>

							<li>
								<a href="@Url.Action("MyDelProfile","Users")">My Profile</a>

							</li>

							<li>
								<a href="@Url.Action("deliveredorder","Orders_DeliveryTeam1")">Delivered Orders</a>

							</li>

							<li>
								<a href="@Url.Action("Index","Home")">LogOut</a>

							</li>
							<li><a href="#AboutUs">About</a></li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header Area End -->
	<!-- Banner Area Starts -->
	<section class="banner-area text-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h6>the most interesting food in the world</h6>
					<h1>
						Discover the <span class="prime-color">flavors</span><br>
						<span class="style-change">of <span class="prime-color">food</span>corner</span>
					</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- Banner Area End -->
	<!-- Welcome Area Starts -->
	<section class="welcome-area section-padding2">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 align-self-center">
					<div class="welcome-img">
						<img src="~/assets/images/welcome-bg.png" class="img-fluid" alt="">
					</div>
				</div>
				<div class="col-md-6 align-self-center">
					<div class="welcome-text mt-5 mt-md-0">
						<h3><span class="style-change">Welcome</span> <br>to Online Food Corner</h3>
						<p class="pt-3">Providing you the best services and delivered food at your home at just one click. You can order the food of diffrent varieties.</p>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Welcome Area End -->
	<!-- Food Area starts -->
	<!-- Dishes Area Starts -->
	<div class="deshes-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-top2 text-center">
						<h3>Our <span>special</span> dishes</h3>
						<p><i>Best and most popular food items.</i></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 col-md-6 align-self-center">
					<h1>01.</h1>
					<div class="deshes-text">
						<h3><span>Garlic</span><br> green beans</h3>
						<p class="pt-3">Be. Seed saying our signs beginning face give spirit own beast darkness morning moveth green multiply she'd kind saying one shall, two which darkness have day image god their night. his subdue so you rule can.</p>
						<span class="style-change">Rs400</span>
					</div>
				</div>
				<div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
					<img src="~/assets/images/deshes1.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0">
					<img src="~/assets/images/deshes2.png" alt="" class="img-fluid">
				</div>
				<div class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2">
					<h1>02.</h1>
					<div class="deshes-text">
						<h3><span>Lemon</span><br> rosemary chicken</h3>
						<p class="pt-3">Be. Seed saying our signs beginning face give spirit own beast darkness morning moveth green multiply she'd kind saying one shall, two which darkness have day image god their night. his subdue so you rule can.</p>
						<span class="style-change">Rs450</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Dishes Area End -->


	<br><br>

	<!-- Footer Area Starts -->
	<footer class="footer-area" id="AboutUs">
		<div class="footer-widget section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="single-widget single-widget1">
							<a><img src="~/assets/images/logo/l1.png" alt=""></a>
							<p class="mt-3">Online food corner delivers delicious food on order on your door step.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-widget single-widget2 my-5 my-md-0">
							<h5 class="mb-4">Contact Us</h5>
							<div class="d-flex">
								<div class="into-icon">
									<i class="fa fa-map-marker"></i>
								</div>
								<div class="info-text">
									<p>UET, lahore </p>
								</div>
							</div>
							<div class="d-flex">
								<div class="into-icon">
									<i class="fa fa-phone"></i>
								</div>
								<div class="info-text">
									<p>0900-78601</p>
								</div>
							</div>
							<div class="d-flex">
								<div class="into-icon">
									<i class="fa fa-envelope-o"></i>
								</div>
								<div class="info-text">
									<p>anmoltariqbutt@gmail.com</p>
									<p>toobanaseer3@gmail.com</p>
									<p>ridamahmood175@gmail.com</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-widget single-widget3">
							<h5 class="mb-4">opening hours</h5>
							<p>Monday ...................... Closed</p>
							<p>Tue-Fri .............. 10 am - 12 pm</p>
							<p>Sat-Sun ............... 8 am - 11 pm</p>
							<p>Holidays ............. 10 am - 12 pm</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<!-- Footer Area End -->
	<!-- Javascript -->
	<script src="~/assets/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="~/assets/js/vendor/bootstrap-4.1.3.min.js"></script>
	<script src="~/assets/js/vendor/wow.min.js"></script>
	<script src="~/assets/js/vendor/owl-carousel.min.js"></script>
	<script src="~/assets/js/vendor/jquery.datetimepicker.full.min.js"></script>
	<script src="~/assets/js/vendor/jquery.nice-select.min.js"></script>
	<script src="~/assets/js/main.js"></script>
</body>
</html>
